@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 20px;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
.form-container {
    flex: 1;
    padding: 20px;
}
.form-box {
    font-size: large;
    flex: 1;
    padding: 20px;
    background: #fdfdfd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p  {
    text-align: center;
    margin-top: 15px;
}

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #1a1e21;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar1 .logo1{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 20px 1220px -50px 0px ;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 800px){
.hideOnMobile{
    display: none;
}
.menu-button{
    display: block;
}
}
@media(max-width: 400px){
.sidebar{
    width: 100%;
}
}

.registration-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form-box{
    width: auto;
}
.left-side, .right-side {
    width: 48%;
}
.left-side{
    order: 1;
}
.right-side{
    order: 2;
    color: #4c4d4e;
}
.left-side, .right-side{
    padding: 20px;

}
.left-side h6, .right-side h6 {
    margin-top: 0;
}
.logout {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.logout:hover {
    background-color: white;
    color: #f44336;
    border: 1px solid #f44336;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.list{
    padding: 10px;
}

a{
    text-decoration: none;
}
