.gog{
    color: dimgray;
    font-size: medium;

}
.goghead{
    background-color: white;
}
.lead{
    padding-top: 10px;
}
.welcome{
    color: #6358DC;
    font-size: 500px;
    font-weight: bolder;
    text-align: left; 
    font-size: x-large;
}
.welcome1{
    text-align: left; 
    font-size: medium; 
    color: #000000;
}