body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 20px;
}
.image-container {
    flex: 1;
    text-align: center;
}
.image-container img {
    max-width: 100%;
    border-radius: 50px;
    height: auto;
}
.form-container {
    flex: 1;
    padding: 20px;
}
.form-container .form-box {
    background: #fdfdfd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header, footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

p  {
    text-align: center;
    margin-top: 15px;
}

button{
    background-color: #577b9e;
}

.registration-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.form-box{
    width: auto;
}
.left-side, .right-side {
    width: 48%;
}
.left-side{
    order: 1;
}
.right-side{
    order: 2;
}
.left-side, .right-side{
    padding: 20px;

}

.left-side h6, .right-side h6 {
    margin-top: 0;
}

.bottom-actions {
    width: 100%;
    text-align: center;
}
.bottom-actions button{
    padding: 10px 20px;
}