body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.container {
    align-items: center;
    flex: 1;
    padding: 20px;
}
.image-container {
    flex: 1;
    text-align: center;
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 50px;
}
.form-container {
    flex: 1;
    padding: 20px;
}
.form-container .form-box {
    background: #fdfdfd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p  {
    text-align: center;
    margin-top: 15px;
}

button{
    background-color: #577b9e;
}
.form-box{
    width: auto;
}

.bottom-actions {
    width: 100%;
    text-align: center;
}
.bottom-actions button{
    padding: 10px 20px;
}
.alert-warning {
    font-size: small;
    color: #ff0019;
    border-radius: 5px;
    text-align: center;
}

